* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #111;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
.btn {
  padding: 10px 30px;
  margin-top: 10px;
  outline: none;
  border: 3px solid rgb(10, 206, 206);
  background-color: rgb(10, 206, 206);
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.4s;
}
/* header */

.menu ul {
  display: flex;
  justify-content: right;
  border-bottom: 1px solid grey;
  min-height: 50px;
}
.menu ul li {
  list-style: none;
  padding: 10px 30px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
/* banner */
.banner {
  display: flex;
  height: 100vh;
}
.banner-left {
  color: rgba(255, 255, 255, 0.835);
  flex: 1;
  display: flex;
  align-items: center;
}
.banner-text p {
  text-align: justify;
  font-size: 18px;
}
.banner-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text h1 {
  position: relative;
  font-size: 50px;
  margin-bottom: 20px;
  color: transparent;
}
.banner-text h1::before {
  content: "Shariar Hossain";
  position: absolute;

  color: rgb(10, 206, 206);
  animation: letter 3s linear 2s infinite;
}
@keyframes letter {
  0% {
  }
  5% {
    content: "S|";
  }
  10% {
    content: "Sh|";
  }
  15% {
    content: "Sha|";
  }
  20% {
    content: "Shar|";
  }
  25% {
    content: "Shari|";
  }
  30% {
    content: "Sharia|";
  }
  35% {
    content: "Shariar|";
  }
  40% {
    content: "Shariar H|";
  }

  45% {
    content: "Shariar Ho|";
  }
  50% {
    content: "Shariar Hos|";
  }
  55% {
    content: "Shariar Hoss|";
  }
  60% {
    content: "Shariar Hossa|";
  }
  65% {
    content: "Shariar Hossai|";
  }
  70% {
    content: "Shariar Hossain|";
  }
  75% {
  }
  87% {
    content: "Shariar Hossain|";
  }
  88% {
    content: "Shariar Hossai|";
  }
  89% {
    content: "Shariar Hossa|";
  }
  90% {
    content: "Shariar Hoss|";
  }
  91% {
    content: "Shariar Hos|";
  }
  92% {
    content: "Shariar Ho|";
  }
  93% {
    content: "Shariar H|";
  }
  94% {
    content: "Sharia|";
  }
  96% {
    content: "Shari|";
  }
  97% {
    content: "Shar|";
  }
  98% {
    content: "Sha|";
  }
  99% {
    content: "Sh|";
  }

  99% {
    content: "S|";
  }
  100% {
    content: "S|";
  }
}
.btn:hover {
  background-color: transparent;
}
.gallary {
  display: flex;
}
.team h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.photo {
  position: relative;
  width: 290px;
  height: 280px;
  overflow: hidden;
  flex-wrap: wrap;
  flex: 1;
  margin-right: 20px;
}
.photo img {
  width: 100%;
  height: 100%;
}
.border {
  background-color: rgb(10, 206, 206);
  position: absolute;
  transition: 0.7s;
}
.border.left,
.border.right {
  height: 270px;
  width: 4px;
}
.border.top,
.border.bottom {
  height: 4px;
  width: 300px;
}
.border.left {
  left: 5px;
  top: 100%;
}
.border.right {
  right: 5px;
  bottom: 100%;
}
.border.top {
  top: 5px;
  right: 100%;
}
.border.bottom {
  bottom: 5px;
  left: 100%;
}

.photo:hover .left {
  top: 5px;
}
.photo:hover .right {
  bottom: 5px;
}
.photo:hover .top {
  right: 5px;
}
.photo:hover .bottom {
  left: 5px;
}
.team-text {
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 20px;
  width: 100%;
  height: 100%;
  transform: translateY(300px);
  transition: 0.7s;
}
.photo:hover .team-text {
  transform: translateY(200px);
}
.photo::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  top: 0;
  left: 0;
  transition: 0.3s linear;
}
.photo:hover::before {
  opacity: 1;
}
footer {
  color: #fff;
  margin-top: 100px;
}
footer p {
  text-align: center;
  font-size: 20px;
}
